.row{
  padding: 20px;
}

div{
  background-color:212529;
  text-align: center;

}
@media (min-width:570px){
  #imagenPerfil{
    position: absolute;
    width: 25%;
    border-radius: 15%;
    left: 3%;
    top: 550px;
  }
}

/* nombre */
#nombre{
  font-weight: bold;

}
