<div class="row">
  <div class="container">
    <div class="Logo">
      <img src="../../../../assets/social-icon/APLogo.png" class="Logo">
    </div>
    <div class="redes">
        <a href=""><img src="../../../../assets/social-icon/github.png"></a>
        <a href=""><img src="../../../../assets/social-icon/instagram.png"></a>
        <a href=""><img src="../../../../assets/social-icon/linkedin.png"></a>
        <button type="button" class="btn btn-outline-dark btn-lg">Login</button>
      </div>
  </div>

</div>

