<div class="row">
  <h1>Hard Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" >
    <circle-progress
    [percent]="85"
    [radius]="80"
    [title]="'HTML'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="80"
    [title]="'CSS'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="80"
    [title]="'JAVA'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

  <h1>Softs Skills</h1>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="80"
    [title]="'Trabajo'"
    [titleFontSize]="'12'"
    [titleFontSize]="'14'"
    [subtitle]="' en grupo'"
    [showUnits]="false"
    [showSubtitle]="true"
    [subtitleFontSize]="'16'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" >
    <circle-progress
    [percent]="100"
    [radius]="80"
    [title]="'Persistencia'"
    [titleFontSize]="'1em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="80"
    [title]="'Responsabilidad'"
    [titleFontSize]="'14'"
    [subtitle]="'efectiva'"
    [showUnits]="false"
    [showSubtitle]="true"
    [subtitleFontSize]="'16'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
</div>
